
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.moto.mn/public/fonts/roboto/roboto-v32-cyrillic-ext_latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.moto.mn/public/fonts/roboto/roboto-v32-cyrillic-ext_latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.moto.mn/public/fonts/roboto/roboto-v32-cyrillic-ext_latin-700.woff2') format('woff2');
}
